
@model _2001210776_NguyenTuanVi_MVC_DoAnCuoiKi.Models.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/img/product/@Model.Images" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>@Model.Name_Product</h3>
                    <div class="product__details__price">@Model.Price</div>
                    <p>
                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.
                    </p>
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <div class="quantity_selector d-flex flex-row align-items-sm-center">
                            <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                <i class="fa fa-minus" style="color:#7fad39"></i>
                            </button>
                            <input id="quantity_value" min="0" name="quantity" value="1" type="number"
                                   class="form-control form-control-sm" style="width: 60px;" />
                            <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                <i class="fa fa-plus" style="color:#7fad39"></i>
                            </button>
                        </div>
                        <div class="button add_to_cart_button" style="border: 1px solid #7fad39;padding: 12px;">
                                <a href="#" data-id="@Model.ID_Product" class="btnAddToCart" style="color: #7fad39">Thêm vào giỏ hàng</a>
                        </div>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    </div>
                    
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li>
                            <b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

